@{
    ViewBag.Title = "Index";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" class="form-control" />
        </div>
        
    </div>
    <div class="form-group">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" class="form-control"/>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
   
    
    <button  class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            var vm = {
                CustomerId:0,
                MoviesIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
              
                remote: {
                    url: '../api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength:2,
                highlight:true
            }, {
                name: 'Customers',
                display: 'Name',
                source: customers
            }).on("typeahead:select",function(e,customer) {
                vm.CustomerId = customer.Id;
            });





            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
               
                remote: {
                    url: '../api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'Movies',
                    display: 'Name',
                    source: movies
                }).on("typeahead:select",
                function(e, movie) {
                    $("#movies").append("<li class ='list-group-item'>" + movie.Name + "</li>");
                    $("#movie").typeahead("val","");
                    vm.MoviesIds.push(movie.Id);
                });

            $.validator.addMethod("validCustomer",
                function() {
                    return vm.CustomerId && vm.CustomerId !== 0;
                },"Please Select a valid customer");


            $.validator.addMethod("atLeastOneMovie", function() {
                return vm.MoviesIds.length > 0;
            }, "Please, select at least one movie.");

           var validator = $("#newRental").validate({
                submitHandler: function() {                   
                    $.ajax({
                            url: "/api/Rentals",
                            method: "POST",
                            data: vm
                        })
                        .done(function() {
                            toastr.success("New rental has been recorded.");

                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();

                            vm = { MoviesIDs: [] };

                            validator.resetForm();
                        })
                        .fail(function() {
                            toastr.error("Something went wrong");
                        });
                    return false;
                }
            });
        });

    </script>
}
