@model IEnumerable<Vidly.Models.Movie>

<h2>Movies</h2>
<table class="table table-bordered table-hover"  >
    <thead>
    <td>movie</td>
    </thead>
    
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                @movie.Name
            </td>
        </tr>
    }
</table>

