@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
}
<h3>@Model.Name</h3><br />
<div class="col-sm-3">
    <table class="table table-hover table-condensed">
        <tr>
            <td><b>Membership Type : </b>@Model.MembershipType.Name </td>
        
        </tr>
        @if (Model.BirthDate.HasValue)
        {
            <tr>
                <td><b>Birth Date : </b>@Model.BirthDate</td>
       
            </tr>  
        }
      
        
    </table>
</div>
<div class="clearfix"></div>





